<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553317253715-304rtejodni69jkkgphur8ra1q5kb5qu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553317253715-304rtejodni69jkkgphur8ra1q5kb5qu</string>
	<key>API_KEY</key>
	<string>AIzaSyC8BB8duPi88bE4p4TE6aI8OWX5VPQcCI0</string>
	<key>GCM_SENDER_ID</key>
	<string>553317253715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techchallenge.prime-bank-app</string>
	<key>PROJECT_ID</key>
	<string>api-prime-bank</string>
	<key>STORAGE_BUCKET</key>
	<string>api-prime-bank.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553317253715:ios:b513e094dd9f7b4a3f7ca6</string>
</dict>
</plist>